# Build and Release Folders
bin/
bin-debug/
bin-release/
images/owners-profile/


# Other files and folders
.settings/
.buildpath
.project
databases/
uploads/documents/
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
